html, body
{
    height: 100%;
    margin: 0;
}

body
{
    background-image: linear-gradient(to right top, #b3ecac, rgb(189, 227, 234), rgb(218, 180, 207), rgb(247, 244, 244));
}

.header
{
    color: rgb(87, 20, 20);
    font-family: 'Yeon Sung';
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: 80px;
}

.header img
{
    width: 80px;
    margin-left: -15px;
}

.login_div
{
    background: rgba(170, 163, 34, 0.8);
    float: none;
    border-radius: 30px; 
    height: 325px;
}

.logo
{
    width: 80px;
    margin-top: 30px;
    border-radius: 40px;
}

#login_button
{
    width: 80%;
    border-radius: 15px;
}

